html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-size: .8rem;
}



.container {
  width: 100%;
  height: 95vh;
  margin: 0px;
  padding: 1em;
  text-align: center;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  /* background:rgb(238, 233, 233) */
}

.sidebar {
  /* flex-basis: 15%; */
  height: 100%;
  margin: 5px;
  margin-right: 0;
  /* align-self: 100%; */
  background: rgb(207, 196, 196);
  align-content: center;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.sidebar, h1 {
  padding: 2rem;
}

ul {
  list-style: none;
  list-style-type: none;
  text-align: left;
}

li {
  padding: .5rem;
}

.dashboard {
  /* flex-basis: 85%; */
  height: 100%;
  margin: 5px;
  
  /* align-self: stretch; */
  /* border: solid 1px; */
  /* border-color: aqua;
  display: flex;
  justify-content: space-between; */
  background: white;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.tabs {
  /* flex-basis: 50%; */
  height: 80%;
  margin: 5px;
  align-self: stretch;
  border: 1px;
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




